.EditTask {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  width: 12vw;
}

.EditTask input {
  width: 11vw;
  margin: 0 0.2em;
  font-size: 1rem;
}

.EditTask button {
  width: 11vw;
  font-size: 1rem;
}

.inputGroup {
  margin: 0.2rem;
  padding: 0;
}
