.addWidget {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem .5rem;
    margin: .5rem 0;
    width: 16vw;
    
  }

.addWidget input {
    font-size: 1rem;
}

.addWidget button {
    width: 16vw;
    font-size: 1rem;
}