

  .TaskList button {
    width: 3em;
    height: 2em;
    font-size: .8em;
  }

  .TaskListItem {
    border-top: 1px black solid;
    padding: .2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }